<!-- <p>order-update works!</p> -->

<div class="container-fluid">
    <app-pagetitle title="Mise à jour d'une commande" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <form [formGroup]="orderUpdateForm" (ngSubmit)="onSubmitUpdate()">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Référence commande</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="internal_number" class="form-label">Numéro interne</label>
                            <input type="text" class="form-control" id="internal_number" formControlName="internal_number">
                        </div>
                        <div class="mb-3">
                            <label for="customer" class="form-label">Client</label>
                            <ng-select id="customer" 
                            formControlName="customer" 
                            [items]="users" 
                            bindLabel="name" 
                            bindValue="_id" 
                            placeholder="Sélectionner un client"
                            [typeahead]="userInput$"
                            [virtualScroll]="true" 
                            [addTag]="false" 
                            (focus)="onUserInputFocus()"
                            (blur)="onUserInputBlur($event)">
                            <ng-template ng-label-tmp let-item="item">
                                {{ item.firstname }} {{ item.lastname }}
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                {{ item.firstname }} {{ item.lastname }}
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="mb-3">
                        <label for="quote_number" class="form-label">Numéro de devis</label>
                        <input type="text" class="form-control" id="quote_number" formControlName="quote_number">
                    </div>
                    <div class="mb-3">
                        <label for="benefit" class="form-label">Prestation</label>
                        <ng-select id="benefit"
                        formControlName="benefit"
                        [items]="benefits"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="🧚‍♂️ Faites un vœu... et choisissez votre prestation !">
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Résidence/Adresse</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="address" class="form-label">Adresse</label>
                    <input type="text" class="form-control" id="address" formControlName="address">
                </div>
                <div class="mb-3">
                    <label for="appartment_number" class="form-label">N° appart</label>
                    <input type="text" class="form-control" id="appartment_number" formControlName="appartment_number">
                </div>
                <div class="mb-3">
                    <label for="occupied" class="form-label">Occupé (Oui/Non)</label>
                    <select class="form-control" id="occupied" formControlName="occupied">
                        <option value="true">Oui</option>
                        <option value="false">Non</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Intervenants</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="contact" class="form-label">Contact Sogapeint</label>
                    <ng-select id="contact" 
                    formControlName="contact" 
                    [items]="users" 
                    bindLabel="name" 
                    bindValue="_id" 
                    placeholder="Sélectionner un client"
                    [typeahead]="userInput$"
                    [virtualScroll]="true" 
                    [addTag]="false" 
                    (focus)="onUserInputFocus()"
                    (blur)="onUserInputBlur($event)">
                    <ng-template ng-label-tmp let-item="item">
                        {{ item.firstname }} {{ item.lastname }}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index">
                        {{ item.firstname }} {{ item.lastname }}
                    </ng-template>
                </ng-select>
            </div>
            <div class="mb-3">
                <label for="external_contributor" class="form-label">Co-traitant</label>
                <ng-select id="external_contributor" 
                formControlName="external_contributor" 
                [items]="users" 
                bindLabel="name" 
                bindValue="_id" 
                placeholder="Sélectionner un client"
                [typeahead]="userInput$"
                [virtualScroll]="true" 
                [addTag]="false" 
                (focus)="onUserInputFocus()"
                (blur)="onUserInputBlur($event)">
                <ng-template ng-label-tmp let-item="item">
                    {{ item.firstname }} {{ item.lastname }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.firstname }} {{ item.lastname }}
                </ng-template>
            </ng-select>
        </div>
        <div class="mb-3">
            <label for="subcontractor" class="form-label">Sous-traitant</label>
            <ng-select id="subcontractor" 
            formControlName="subcontractor" 
            [items]="users" 
            bindLabel="name" 
            bindValue="_id" 
            placeholder="Sélectionner un client"
            [typeahead]="userInput$"
            [virtualScroll]="true" 
            [addTag]="false" 
            (focus)="onUserInputFocus()"
            (blur)="onUserInputBlur($event)">
            <ng-template ng-label-tmp let-item="item">
                {{ item.firstname }} {{ item.lastname }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
                {{ item.firstname }} {{ item.lastname }}
            </ng-template>
        </ng-select>
    </div>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card">
        <div class="card-header">Temps d'exécution</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="prevision_data_hour" class="form-label">Heures (Donné)</label>
                <input type="number" class="form-control" id="prevision_data_hour" formControlName="prevision_data_hour">
            </div>
            <div class="mb-3">
                <label for="prevision_data_day" class="form-label">Jours (Donné)</label>
                <input type="number" class="form-control" id="prevision_data_day" formControlName="prevision_data_day">
            </div>
            <div class="mb-3">
                <label for="execution_data_hour" class="form-label">Heures (Réalisé)</label>
                <input type="number" class="form-control" id="execution_data_hour" formControlName="execution_data_hour">
            </div>
            <div class="mb-3">
                <label for="execution_data_day" class="form-label">Jours (Réalisé)</label>
                <input type="number" class="form-control" id="execution_data_day" formControlName="execution_data_day">
            </div>
            <div class="mb-3">
                <label class="form-label">Différence</label>
                <input type="text" class="form-control" readonly>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row mb-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Dates</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="start_date_works" class="form-label">Début</label>
                    <input type="date" class="form-control" id="start_date_works" formControlName="start_date_works">
                </div>
                <div class="mb-3">
                    <label for="end_date_works" class="form-label">Date de fin</label>
                    <input type="date" class="form-control" id="end_date_works" formControlName="end_date_works">
                </div>
                <div class="mb-3">
                    <label for="end_date_customer" class="form-label">Date de fin client</label>
                    <input type="date" class="form-control" id="end_date_customer" formControlName="end_date_customer">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">GED</div>
            <div class="card-body">
                
                <div class="mb-3">
                    <label for="ged" class="form-label">GED</label>
                    
                    <textarea class="form-control" id="ged" rows="3" formControlName="ged"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Détails de Facturation</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="invoice_number" class="form-label">Numéro de Facture</label>
                    
                    <input type="text" class="form-control" id="invoice_number" formControlName="invoice_number">
                </div>
                <div class="mb-3">
                    <label for="amount_ht" class="form-label">Montant HT</label>
                    
                    <input type="number" class="form-control" id="amount_ht" formControlName="amount_ht" (keydown)="onAlphaInput($event)">
                </div>
                <div class="mb-3">
                    <label for="benefit_ht" class="form-label">Bénéfice HT</label>
                    
                    <input type="number" class="form-control" id="benefit_ht" formControlName="benefit_ht" (keydown)="onAlphaInput($event)">
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Communication</div>
            <div class="card-body">
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="mail_sended" formControlName="mail_sended">
                    
                    <label for="mail_sended" class="form-check-label">Mail Envoyé</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Statut et Suivi</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="order_status" class="form-label">Statut</label>
                    <ng-select id="order_status"
                    formControlName="status"
                    [items]="statuses"
                    bindLabel="name"
                    bindValue="value"
                    placeholder="🔮 Devinez le statut... ou sélectionnez-le ici!">
                </ng-select>
            </div>
            <div class="mb-3">
                <label for="date_cde" class="form-label">Date de Commande</label>
                
                <input type="date" class="form-control" id="date_cde" formControlName="date_cde">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="trash" formControlName="trash">
                
                <label for="trash" class="form-check-label">Marquer comme supprimé</label>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    
</div>
</div>

<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
</div>
</form>
</div>
