.scrollable-tbody {
    overflow-y: auto;
    max-height: 200px; /* Ajustez selon vos besoins */
}

.table .thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
}

.role-badge {
    padding: 2px 5px;
    border-radius: 15px;
    color: var(--bs-white);
    font-weight: bold;
    
    &.badge-superadmin { background-color: #e74c3c; } // Rouge pour superAdmin
    &.badge-cocontractor { background-color: #3498db; } // Bleu pour cocontractor
    &.badge-subcontractor { background-color: #2ecc71; } // Vert pour subcontractor
    &.badge-customer { background-color: #f1c40f; } // Jaune pour customer
    &.badge-comanager { background-color: #9b59b6; } // Violet pour comanager
    &.badge-supermanager { background-color: #95a5a6; } // Gris pour supermanager
}

.hand-pointer {
    cursor: pointer;
}
