<div class="container-fluid">
    <app-pagetitle title="Saisie d'une commande" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

        <div class="row mb-3">

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Référence commande</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="internalNumber" class="form-label">Numéro interne</label>

                            <input type="text" class="form-control" id="internalNumber" formControlName="internalNumber">
                        </div>
                        <div class="mb-3">
                            <label for="customer" class="form-label">Client</label>

                            <ng-select id="customer" 
                            formControlName="customer" 
                            [items]="users" 
                            bindLabel="name" 
                            bindValue="_id" 
                            placeholder="Sélectionner un client"
                            [typeahead]="userInput$"
                            [virtualScroll]="true" 
                            [addTag]="false" 
                            (focus)="onUserInputFocus()"
                            (blur)="onUserInputBlur($event)">
                            <ng-template ng-label-tmp let-item="item">
                                {{ item.firstname }} {{ item.lastname }}
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                {{ item.firstname }} {{ item.lastname }}
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="mb-3">
                        <label for="quoteNumber" class="form-label">Numéro de devis</label>

                        <input type="text" class="form-control" id="quoteNumber" formControlName="quoteNumber">
                    </div>
                    <div class="mb-3">
                        <label for="benefit" class="form-label">Prestation</label>

                        <ng-select id="benefit"
                        formControlName="benefit"
                        [items]="benefits"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="🧚‍♂️ Faites un vœu... et choisissez votre prestation !">
                    </ng-select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Résidence/Adresse</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="address" class="form-label">Adresse</label>

                    <input type="text" class="form-control" id="address" formControlName="address">
                </div>
                <div class="mb-3">
                    <label for="appartmentNumber" class="form-label">N° appart</label>

                    <input type="text" class="form-control" id="appartmentNumber" formControlName="appartmentNumber">
                </div>
                <div class="mb-3">
                    <label for="occupied" class="form-label">Occupé (Oui/Non)</label>

                    <select class="form-control" id="occupied" formControlName="occupied">
                        <option value="true">Oui</option>
                        <option value="false">Non</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Intervenants</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="contact" class="form-label">Contact Sogapeint</label>

                    <ng-select id="contact" 
                    formControlName="contact" 
                    [items]="users" 
                    bindLabel="name" 
                    bindValue="_id" 
                    placeholder="Sélectionner un client"
                    [typeahead]="userInput$"
                    [virtualScroll]="true" 
                    [addTag]="false" 
                    (focus)="onUserInputFocus()"
                    (blur)="onUserInputBlur($event)">
                    <ng-template ng-label-tmp let-item="item">
                        {{ item.firstname }} {{ item.lastname }}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index">
                        {{ item.firstname }} {{ item.lastname }}
                    </ng-template>
                </ng-select>
            </div>
            <div class="mb-3">
                <label for="externalContributor" class="form-label">Co-traitant</label>

                <ng-select id="externalContributor" 
                formControlName="externalContributor" 
                [items]="users" 
                bindLabel="name" 
                bindValue="_id" 
                placeholder="Sélectionner un client"
                [typeahead]="userInput$"
                [virtualScroll]="true" 
                [addTag]="false" 
                (focus)="onUserInputFocus()"
                (blur)="onUserInputBlur($event)">
                <ng-template ng-label-tmp let-item="item">
                    {{ item.firstname }} {{ item.lastname }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.firstname }} {{ item.lastname }}
                </ng-template>
            </ng-select>
        </div>
        <div class="mb-3">
            <label for="subcontractor" class="form-label">Sous-traitant</label>

            <ng-select id="subcontractor" 
            formControlName="subcontractor" 
            [items]="users" 
            bindLabel="name" 
            bindValue="_id" 
            placeholder="Sélectionner un client"
            [typeahead]="userInput$"
            [virtualScroll]="true" 
            [addTag]="false" 
            (focus)="onUserInputFocus()"
            (blur)="onUserInputBlur($event)">
            <ng-template ng-label-tmp let-item="item">
                {{ item.firstname }} {{ item.lastname }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
                {{ item.firstname }} {{ item.lastname }}
            </ng-template>
        </ng-select>
    </div>
</div>
</div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">Temps d'exécution</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="previsionDataHour" class="form-label">Heures (Donné)</label>

                <input type="number" class="form-control" id="previsionDataHour" formControlName="previsionDataHour" (keydown)="onAlphaInput($event)">
            </div>
            <div class="mb-3">
                <div class="emoji-container" [ngClass]="{'show': isEmojiVisible}">
                    <div class="emoji emoji--angry">
                      <div class="emoji__face">
                        <div class="emoji__eyebrows"></div>
                        <div class="emoji__eyes"></div>
                        <div class="emoji__mouth"></div>
                      </div>
                    </div>
                  </div>
                <label for="previsionDataDay" class="form-label">Jours (Donné)</label>

                <input type="number" class="form-control" id="previsionDataDay" formControlName="previsionDataDay" (keydown)="onAlphaInput($event)">
            </div>
            <div class="mb-3">

                <label for="executionDataHour" class="form-label">Heures (Réalisé)</label>

                <input type="number" class="form-control" id="executionDataHour" formControlName="executionDataHour" (keydown)="onAlphaInput($event)">
            </div>
            <div class="mb-3">

                <label for="executionDataDay" class="form-label">Jours (Réalisé)</label>

                <input type="number" class="form-control" id="executionDataDay" formControlName="executionDataDay" (keydown)="onAlphaInput($event)">
            </div>

            <div class="mb-3">
                <label class="form-label">Différence</label>
                <input type="text" class="form-control" readonly>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row mb-3">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Dates</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="start_date_works" class="form-label">Début</label>

                    <input type="date" class="form-control" id="start_date_works" formControlName="startDateWorks">
                </div>
                <div class="mb-3">
                    <label for="end_date_works" class="form-label">Date de fin</label>

                    <input type="date" class="form-control" id="end_date_works" formControlName="endDateWorks">
                </div>
                <div class="mb-3">
                    <label for="end_date_customer" class="form-label">Date de fin client</label>

                    <input type="date" class="form-control" id="end_date_customer" formControlName="endDateCustomer">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">GED</div>
            <div class="card-body">

                <div class="mb-3">
                    <label for="ged" class="form-label">GED</label>

                    <textarea class="form-control" id="ged" rows="3" formControlName="ged"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Détails de Facturation</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="invoiceNumber" class="form-label">Numéro de Facture</label>

                    <input type="text" class="form-control" id="invoiceNumber" formControlName="invoiceNumber">
                </div>
                <div class="mb-3">
                    <label for="amountHt" class="form-label">Montant HT</label>

                    <input type="number" class="form-control" id="amountHt" formControlName="amountHt" (keydown)="onAlphaInput($event)">
                </div>
                <div class="mb-3">
                    <label for="benefitHt" class="form-label">Bénéfice HT</label>

                    <input type="number" class="form-control" id="benefitHt" formControlName="benefitHt" (keydown)="onAlphaInput($event)">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Communication</div>
            <div class="card-body">
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="mailSended" formControlName="mailSended">

                    <label for="mailSended" class="form-check-label">Mail Envoyé</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Statut et Suivi</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="order_status" class="form-label">Statut</label>
                    <ng-select id="order_status"
                    formControlName="status"
                    [items]="statuses"
                    bindLabel="name"
                    bindValue="value"
                    placeholder="🔮 Devinez le statut... ou sélectionnez-le ici!">
                </ng-select>
            </div>
            <div class="mb-3">
                <label for="dateCde" class="form-label">Date de Commande</label>

                <input type="date" class="form-control" id="dateCde" formControlName="dateCde">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="trash" formControlName="trash">

                <label for="trash" class="form-check-label">Marquer comme supprimé</label>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">

</div>
</div>

<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
</div>
</form>
</div>