<!-- <p>order-form works!</p> -->
<div class="container-fluid">
    <app-pagetitle title="Saisie d'une commande" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <form>
        
        <!-- Première ligne de cartes -->
        <div class="row mb-3">
            <!-- Carte Informations Générales -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Informations Générales</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="numeroInterne" class="form-label">N° Interne</label>
                            <input type="text" class="form-control" id="numeroInterne" ngModel name="numeroInterne">
                        </div>
                        <div class="mb-3">
                            <label for="residenceAdresse" class="form-label">Résidence / Adresse</label>
                            <input type="text" class="form-control" id="residenceAdresse" ngModel name="residenceAdresse">
                        </div>
                        <div class="mb-3">
                            <label for="numeroAppart" class="form-label">N° appart</label>
                            <input type="text" class="form-control" id="numeroAppart" ngModel name="numeroAppart">
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Carte Détails du Contact -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Détails du Contact</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="contact" class="form-label">Contact</label>
                            <input type="text" class="form-control" id="contact" ngModel name="contact">
                        </div>
                        <div class="mb-3">
                            <label for="adresse" class="form-label">Adresse</label>
                            <input type="text" class="form-control" id="adresse" ngModel name="adresse">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Deuxième ligne de cartes -->
        <div class="row mb-3">
            <!-- Carte Informations Complémentaires -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Informations Complémentaires</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="numeroDevis" class="form-label">Numéro devis</label>
                            <input type="text" class="form-control" id="numeroDevis" ngModel name="numeroDevis">
                        </div>
                        <div class="mb-3">
                            <label for="occupe" class="form-label">Occupé (Oui/Non)</label>
                            <select class="form-control" id="occupe" ngModel name="occupe">
                                <option value="">Sélectionner</option>
                                <option value="true">Oui</option>
                                <option value="false">Non</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Carte Prestation -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Prestation</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="input-group">
                                <!-- <label for="prestation" class="form-label">Prestation</label><br/> -->
                                <select class="form-control" id="prestation" ngModel name="prestation">
                                    <option value="5e4ba27006d62fd4a4e49916">Peinture</option>
                                    <option value="5e4ba27606d62fd4a4e49917">Sol</option>
                                    <option value="5e52cb8148f8b27b3d077a84">Électricité</option>
                                    <option value="5e52cb8148f8b27b3d077a85">Plomberie</option>
                                    <option value="5e52cb8148f8b27b3d077a86">Maçonnerie</option>
                                    <option value="5e52cb8148f8b27b3d077a87">Menuiserie</option>
                                    <option value="5e52cb8148f8b27b3d077a88">Vitrification</option>
                                    <option value="5e52cb8148f8b27b3d077a89">Nettoyage</option>
                                    <option value="5f58fef3bfdad857fcfbba50">Faïence</option>
                                    <option value="5f58fefdbfdad857fcfbba51">Placo</option>
                                    <option value="5f58ff06bfdad857fcfbba52">Carrelage</option>
                                </select>

                                <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa-solid fa-chevron-down"></i> <!--icône chevron bas-->
                                    </span>
                                  </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Bloc Intervenants et Temps Exécution -->
        <!-- <div class="row mb-3">
            <div class="col">
                <div class="border p-3">
                    <div class="mb-3">
                        <label for="sogapeint" class="form-label">Sogapeint</label>
                        <input type="text" class="form-control" id="sogapeint" ngModel name="sogapeint">
                    </div>
                    <div class="mb-3">
                        <label for="co-traitant" class="form-label">Co-traitant</label>
                        <input type="text" class="form-control" id="co-traitant" ngModel name="co-traitant">
                    </div>
                    <div class="mb-3">
                        <label for="sous-traitant" class="form-label">Sous-traitant</label>
                        <input type="text" class="form-control" id="sous-traitant" ngModel name="sous-traitant">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border p-3">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Heure donnée" ngModel name="heureDonnee">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Jour donné" ngModel name="jourDonne">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Heure écart" ngModel name="heureEcart">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Jour écart" ngModel name="jourEcart">
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Troisième ligne de cartes -->
        <div class="row mb-3">
            <!-- Carte Intervenants -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Intervenants</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="sogapeint" class="form-label">Sogapeint</label>
                            <input type="text" class="form-control" id="sogapeint" ngModel name="sogapeint">
                        </div>
                        <div class="mb-3">
                            <label for="co-traitant" class="form-label">Co-traitant</label>
                            <input type="text" class="form-control" id="co-traitant" ngModel name="co-traitant">
                        </div>
                        <div class="mb-3">
                            <label for="sous-traitant" class="form-label">Sous-traitant</label>
                            <input type="text" class="form-control" id="sous-traitant" ngModel name="sous-traitant">
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Carte Temps Exécution -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Temps Exécution</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="heureDonnee" class="form-label">Heure donnée</label>
                            <input type="text" class="form-control" id="heureDonnee" ngModel name="heureDonnee">
                        </div>
                        <div class="mb-3">
                            <label for="jourDonne" class="form-label">Jour donné</label>
                            <input type="text" class="form-control" id="jourDonne" ngModel name="jourDonne">
                        </div>
                        <div class="mb-3">
                            <label for="heureEcart" class="form-label">Heure écart</label>
                            <input type="text" class="form-control" id="heureEcart" ngModel name="heureEcart">
                        </div>
                        <div class="mb-3">
                            <label for="jourEcart" class="form-label">Jour écart</label>
                            <input type="text" class="form-control" id="jourEcart" ngModel name="jourEcart">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Quatrième ligne de cartes -->
        <div class="row mb-3">
            <!-- Carte Dates -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Dates</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="dateDebut" class="form-label">Date début</label>
                            <input type="date" class="form-control" id="dateDebut" ngModel name="dateDebut">
                        </div>
                        <div class="mb-3">
                            <label for="dateFin" class="form-label">Date fin</label>
                            <input type="date" class="form-control" id="dateFin" ngModel name="dateFin">
                        </div>
                        <div class="mb-3">
                            <label for="dateFinClient" class="form-label">Date fin client</label>
                            <input type="date" class="form-control" id="dateFinClient" ngModel name="dateFinClient">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carte GED -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">GED</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="ged" class="form-label">GED</label>
                            <textarea class="form-control" id="ged" rows="3" ngModel name="ged"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </form>
</div>

