
<div *ngIf="showSecretDiv" class="secret-div">
    <div class="machine-wrap">
        <div class="machine">
            <div class="machine-roof">
                <div class="machine-silencer">
                    <div class="machine-smoke"></div>
                </div>
            </div>
            <div class="machine-main">
                <div class="machine-body"></div>
                <div class="machine-back"></div>
                <div class="machine-front"></div>
            </div>	
        </div>
        <div class="road">
            <div class="mud-wrap clearfix">
                <div class="mud"></div>
                <div class="mud"></div>
                <div class="mud"></div>
                <div class="mud"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <app-pagetitle title="Détails de la Commande" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 mb-2">
                <h2>Détails de la Commande</h2>
                <div class="text-end">
                    <button class="btn btn-primary ms-2" (click)="goToEditOrder()" *ngIf="isAdminOrSuperAdmin()">Editer</button>
                </div>
                <hr>
            </div>
            
            <!-- Première ligne de cartes -->
            <div class="col-md-6">
                <!-- Informations Générales -->
                <div class="card mb-3">
                    <div class="card-header">Informations Générales</div>
                    <div class="card-body">
                        <!-- Informations Générales ici -->
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Numéro Interne</th>
                                    <td>{{ contract?.internal_number }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nom du Client</th>
                                    <td>{{ customer?.firstname }} {{ customer?.lastname }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nom du Contact Sogapeint</th>
                                    <td>{{ sogapeintContact?.firstname }} {{ sogapeintContact?.lastname }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nom du Co-Traitant</th>
                                    <td>{{ coContractor?.firstname }} {{ coContractor?.lastname }}</td>
                                </tr>
                                <tr *ngIf="contract?.subcontractor">
                                    <th scope="row">Nom du Sous-Traitant</th>
                                    <td>{{ subcontractor?.firstname }} {{ subcontractor?.lastname }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Prestation</th>
                                    <td>{{ getBenefitName(contract?.benefit) }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Statut</th>
                                    <td class="cell-centered">
                                        <!-- {{ getStatus(contract?.status) }} -->
                                        <span 
                                        class="badge" 
                                        [ngClass]="{
                                            'bg-success': contract?.status === 'achieve',
                                            'bg-warning': contract?.status === 'invoiced',
                                            'bg-danger': contract?.status === 'anomaly',
                                            'bg-secondary': contract?.status === 'in_progress',
                                            'bg-pink': contract?.status === null,
                                            'bg-info': contract?.status === 'canceled'
                                        }">
                                        {{ getStatus(contract?.status) }}
                                        
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!-- Informations sur l'exécution -->
            <div class="card">
                <div class="card-header">Informations sur l'Exécution</div>
                <div class="card-body">
                    <!-- Informations sur l'exécution ici -->
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Heures (Données)</th>
                                <td>{{ contract?.prevision_data_hour !== null && contract?.prevision_data_hour !== undefined ? contract.prevision_data_hour : 'Non renseigné' }}</td>
                                
                                <!-- <td>{{ contract?.prevision_data_hour ? contract.prevision_data_hour : 'Non renseigné' }}</td> -->
                            </tr>
                            <tr>
                                <th scope="row">Jours (Données)</th>
                                <td>{{ contract?.prevision_data_day !== null && contract?.prevision_data_day !== undefined ? contract.prevision_data_day : 'Non renseigné' }}</td>
                                <!-- <td>{{ contract?.prevision_data_day ? contract.prevision_data_day : 'Non renseigné' }}</td> -->
                            </tr>
                            <tr>
                                <th scope="row">Heures (Réalisées)</th>
                                <td>{{ contract?.execution_data_hour !== null && contract?.execution_data_hour !== undefined ? contract.execution_data_hour : 'Non renseigné' }}</td>
                                <!-- <td>{{ contract?.execution_data_hour ? contract.execution_data_hour : 'Non renseigné' }}</td> -->
                            </tr>
                            <tr>
                                <th scope="row">Jours (Réalisés)</th>
                                <td>{{ contract?.execution_data_day !== null && contract?.execution_data_day !== undefined ? contract.execution_data_day : 'Non renseigné' }}</td>
                                <!-- <td>{{ contract?.execution_data_day ? contract.execution_data_day : 'Non renseigné' }}</td> -->
                            </tr>                                
                            <tr>
                                <th scope="row">Différence (Heures)</th>
                                <td>{{ difference_hours }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <!-- Informations de Facturation -->
            <div class="card mb-3">
                <div class="card-header">Informations de Facturation</div>
                <div class="card-body">
                    <!-- Informations de Facturation ici -->
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Numéro de Facture</th>
                                <td>{{ contract?.invoice_number }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Montant HT</th>
                                <td>{{ contract?.amount_ht | currency:'EUR':'symbol-narrow':'1.2-2':'fr' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Bénéfice HT</th>
                                <td>{{ contract?.benefit_ht | currency:'EUR':'symbol-narrow':'1.2-2':'fr' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!-- Adresse de la Commande -->
            <div class="card">
                <div class="card-header">Adresse de la Commande</div>
                <div class="card-body">
                    <!-- Adresse de la Commande ici -->
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Adresse</th>
                                <td>{{ contract?.address }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Numéro d'Appartement</th>
                                <td>{{ contract?.appartment_number }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Occupé</th>
                                <td>{{ contract?.occupied ? 'Oui' : 'Non' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <!-- Deuxième ligne de cartes -->
        <div class="row">
            <!-- Première carte (Dates Importantes) -->
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="card">
                        <div class="card-header">Dates Importantes</div>
                        <div class="card-body">
                            <!-- Contenu de la première carte -->
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Début des Travaux</th>
                                        <td>{{ contract?.start_date_works | date:'EEEE, d,MMMM, y'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fin des Travaux</th>
                                        <td>{{ contract?.end_date_works | date:'EEEE, d,MMMM, y'}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Date de Fin Client</th>
                                        <td>{{ contract?.end_date_customer | date:'EEEE, d,MMMM, y' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Deuxième carte (Documents) -->
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="card">
                        <div class="card-header">Documents</div>
                        <div class="card-body">
                            <!-- Contenu de la deuxième carte -->
                            <div *ngIf="files && files.length > 0" class="mt-2">
                                <div class="card">
                                    <div class="card-header">
                                        Fichiers:
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item file-item" *ngFor="let file of files; let i = index">
                                            <div class="file-description d-flex align-items-center">
                                                <i class="fas fa-file-alt me-2"></i>
                                                <span class="file-name flex-grow-1">{{ file.name }}</span>
                                                <span class="file-size me-2">{{ file.size | fileSize }}</span>
                                                <button type="button" class="btn btn-download ms-auto" (click)="onFileDownload(file)" [ngbTooltip]="'Télécharger '+ file.name">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Troisième ligne de cartes -->
        <div class="row">
            <!-- Première carte (Observations) -->
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="card">
                        <app-contract-activity [contractId]="contractId" [userId]="currentUser['userId']"></app-contract-activity>
                    </div>
                </div>
            </div>
        </div>
            
         
    </div>
</div>
</div>
