
<div *ngIf="showSecretDiv" class="secret-div">
    <div class="machine-wrap">
        <div class="machine">
            <div class="machine-roof">
                <div class="machine-silencer">
                    <div class="machine-smoke"></div>
                </div>
            </div>
            <div class="machine-main">
                <div class="machine-body"></div>
                <div class="machine-back"></div>
                <div class="machine-front"></div>
            </div>	
        </div>
        <div class="road">
            <div class="mud-wrap clearfix">
                <div class="mud"></div>
                <div class="mud"></div>
                <div class="mud"></div>
                <div class="mud"></div>
            </div>
        </div>
    </div>
</div>
<!-- GNAGNAGNAGNAGNA -->
<div class="container-fluid">
    <app-pagetitle title="Détails de la Commande" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 mb-2">
                <h2>Détails de la Commande</h2>
                <div class="text-end">
                    <button class="btn btn-primary ms-2" (click)="goToEditOrder()" *ngIf="isAdminOrSuperAdmin()">Editer</button>
                </div>
                <hr>
            </div>
            
            <!-- Première ligne de cartes -->
            <div class="col-md-6">
                <!-- Informations Générales -->
                <div class="card mb-3">
                    <div class="card-header">Informations Générales</div>
                    <div class="card-body">
                        <!-- Informations Générales ici -->
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Numéro Interne</th>
                                    <td>{{ contract?.internal_number }}</td>
                                </tr>
                                <!-- <tr>
                                    <th scope="row">Client ID</th>
                                    <td>{{ contract?.customer }}</td>
                                </tr> -->
                                <tr>
                                    <th scope="row">Nom du Client</th>
                                    <td>{{ customer?.firstname }} {{ customer?.lastname }}</td>
                                </tr>
                                <tr>
                                    <!-- <th scope="row">Contact ID</th>
                                    <td>{{ contract?.contact }}</td> -->
                                    <th scope="row">Nom du Contact Sogapeint</th>
                                    <td>{{ sogapeintContact?.firstname }} {{ sogapeintContact?.lastname }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nom du Co-Traitant</th>
                                    <td>{{ coContractor?.firstname }} {{ coContractor?.lastname }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nom du Sous-Traitant</th>
                                    <td>{{ subcontractor?.firstname }} {{ subcontractor?.lastname }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Prestation</th>
                                    <td>{{ contract?.benefit }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Statut</th>
                                    <td>{{ contract?.status }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- Informations sur l'exécution -->
                <div class="card">
                    <div class="card-header">Informations sur l'Exécution</div>
                    <div class="card-body">
                        <!-- Informations sur l'exécution ici -->
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Heures Prévues</th>
                                    <td>{{ contract?.prevision_data_hour }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jours Prévus</th>
                                    <td>{{ contract?.prevision_data_day }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Heures Réalisées</th>
                                    <td>{{ contract?.execution_data_hour }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jours Réalisés</th>
                                    <td>{{ contract?.execution_data_day }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <!-- Informations de Facturation -->
                <div class="card mb-3">
                    <div class="card-header">Informations de Facturation</div>
                    <div class="card-body">
                        <!-- Informations de Facturation ici -->
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Numéro de Facture</th>
                                    <td>{{ contract?.invoice_number }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Montant HT</th>
                                    <td>{{ contract?.amount_ht | currency:'EUR':'symbol-narrow':'1.2-2':'fr' }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Bénéfice HT</th>
                                    <td>{{ contract?.benefit_ht | currency:'EUR':'symbol-narrow':'1.2-2':'fr' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- Adresse de la Commande -->
                <div class="card">
                    <div class="card-header">Adresse de la Commande</div>
                    <div class="card-body">
                        <!-- Adresse de la Commande ici -->
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Adresse</th>
                                    <td>{{ contract?.address }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Numéro d'Appartement</th>
                                    <td>{{ contract?.appartment_number }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Occupé</th>
                                    <td>{{ contract?.occupied ? 'Oui' : 'Non' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <!-- Deuxième ligne de cartes -->
            <div class="col-12 mt-3">
                <!-- Dates Importantes -->
                <div class="card">
                    <div class="card-header">Dates Importantes</div>
                    <div class="card-body">
                        <!-- Dates Importantes ici -->
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Début des Travaux</th>
                                    <td>{{ contract?.start_date_works | date }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fin des Travaux</th>
                                    <td>{{ contract?.end_date_works | date }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Date de Fin Client</th>
                                    <td>{{ contract?.end_date_customer | date }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
