.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007bff; 
    outline: none;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    padding: 0.5rem; 
    transition: transform 0.3s ease-in-out, color 0.2s; 
    
    &:hover, &:focus {
        color: #28a745; 
        transform: scale(1.1) rotate(360deg); 
    }
    
    .fa-plus-circle {
        font-size: 24px; 
    }
}

/* Style pour les flèches de navigation du carousel */
.companies-carousel {
    margin-bottom: 2rem;
    height: 100%;
}

.rotate-animation {
    animation: rotate360 1s infinite linear;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
