<div class="container-fluid">
    <app-pagetitle title="Créer une entreprise" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Informations de l'entreprise</h4>
                    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
                    <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = ''">{{ errorMessage }}</ngb-alert>
                    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="scrollable-form">
                        <div class="mb-3">
                            <label for="names" class="form-label">Nom de l'entreprise</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="names" 
                            formControlName="names" 
                            placeholder="Nom de l'entreprise" 
                            required 
                            (input)="checkCompanyName()"
                            >
                        </div>
                        <div class="mb-3">
                            <label for="normalized-name" class="form-label">Nom Normalisé</label>
                            <input type="text" class="form-control" id="normalized-name" formControlName="normalized_name" placeholder="Nom normalisé" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="abbreviation" class="form-label">Abbréviation</label>
                            <input type="text" class="form-control" id="abbreviation" formControlName="abbreviation"
                            placeholder="Abbréviation">
                        </div>
                        <div class="mb-3">
                            <label for="industry" class="form-label">Secteur d'activité</label>
                            <input type="text" class="form-control" id="industry" formControlName="industry" placeholder="Secteur d'activité">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Adresse</label>
                            <input type="text" class="form-control" id="address" formControlName="address" placeholder="Adresse">
                        </div>
                        <div formArrayName="websites" class="mb-3">
                            <label class="form-label">Sites web</label>
                            <div *ngFor="let website of getFormArray('websites').controls; let i=index" class="mb-2">
                                <div class="input-group">
                                    <input type="text" [formControlName]="i" class="form-control" placeholder="URL du site web">
                                    <button class="btn btn-danger" type="button" (click)="removeFormArrayItem('websites', i)">-</button>
                                </div>
                            </div>
                            <button class="btn icon-button" type="button" (click)="addFormArrayItem('websites')" ngbTooltip="Ajouter un site web" container="body">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                        <div formArrayName="phone" class="mb-3">
                            <label class="form-label">Téléphone</label>
                            <div *ngFor="let phone of getFormArray('phone').controls; let i=index" class="mb-2">
                                <div class="input-group">
                                    <input type="text" [formControlName]="i" class="form-control" placeholder="Numéro de téléphone">
                                    <button class="btn btn-danger" type="button" (click)="removeFormArrayItem('phone', i)">-</button>
                                </div>
                            </div>
                            <button class="btn icon-button" type="button" (click)="addFormArrayItem('phone')" ngbTooltip="Ajouter un numéro de téléphone" container="body">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                        <div formArrayName="additionalFields" class="mb-3">
                            <label class="form-label">Champs supplémentaires</label>
                            <div *ngFor="let additionalField of getFormArray('additionalFields').controls; let i=index" class="mb-2">
                                <div [formGroupName]="i" class="input-group">
                                    <input type="text" class="form-control me-2" formControlName="key" placeholder="Clé">
                                    <input type="text" class="form-control" formControlName="value" placeholder="Valeur">
                                    <button class="btn btn-danger" type="button" (click)="removeAdditionalField(i)">-</button>
                                </div>
                            </div>
                            <button class="btn icon-button" type="button" (click)="addAdditionalField()" ngbTooltip="Ajouter un champ supplémentaire, ainsi que sa clé" container="body">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>

                        <!-- carousel des entreprises scrapées -->
                        <div *ngIf="scrapedCompanies.length > 0" class="companies-carousel">
                            <ngb-carousel *ngIf="scrapedCompanies.length > 0" [showNavigationArrows]="true" [showNavigationIndicators]="true" data-interval="false" >
                                <ng-template ngbSlide *ngFor="let company of scrapedCompanies; let idx = index">
                                    <div class="text-dark text-center">
                                        <h4>{{company.title}}</h4>
                                        <p>{{company.addresses.join(', ')}}</p>
                                        <p>{{company.activity}}</p>
                                        <button type="button" class="btn btn-primary" (click)="fillFormWithScrapedData(company)">Utiliser ces données</button>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                        
                        
                        
                        <!-- Bouton de scraping -->
                        <button type="button" class="btn btn-info mb-3" (click)="scrapeCompanyList()" *ngIf="areNameAndAddressFilled()">
                            <i class="fas fa-search"  [class.rotate-animation]="isLoading"></i> Scrape
                        </button>
                        
                        
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Créer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
