<div class="container-fluid">
    <app-pagetitle title="Commandes" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="container mt-4">
        <div class="search-container">
            <input type="text" class="form-control search-input" placeholder="Rechercher..." [(ngModel)]="filter" (input)="onSearch()" />
            <div class="tags-in-search">
                <ng-container *ngFor="let tag of activeTags">
                    <div class="search-tag badge bg-success" (click)="deactivateTag(tag, $event)">
                        {{ tag }}
                        <span class="fa fa-times remove-tag-icon" (click)="deactivateTag(tag, $event)"></span>
                    </div>
                </ng-container>
            </div>
        </div>
        <br/>
        <p>Vous pouvez filtrer les commandes selon l'état des contrats :</p>
        <div class="available-tags mb-3">
            <div *ngFor="let tag of availableTags" class="badge bg-primary" (click)="activateTag(tag)">
                {{ tag }}
            </div>
        </div>
        <div 
            class="table-responsive"  
            infiniteScroll 
            [infiniteScrollDistance]="50" 
            [infiniteScrollThrottle]="5" 
            (scrolled)="onScroll()"
        >
            <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">
                            <div class="cell-centered">N° interne</div>
                            <div class="sort-icons float-end" (click)="onSort('internal_number')">
                              <i class="fas fa-sort" *ngIf="sortColumn !== 'internal_number'"></i>
                              <i class="fas fa-sort-up" *ngIf="sortColumn === 'internal_number' && sortDirection === 'asc'"></i>
                              <i class="fas fa-sort-down" *ngIf="sortColumn === 'internal_number' && sortDirection === 'desc'"></i>
                            </div>
                          </th>
                          <th scope="col">
                            <div class="cell-centered">Contact</div>
                            <div class="sort-icons float-end" (click)="onSort('contact')">
                              <i class="fas fa-sort" *ngIf="sortColumn !== 'contact'"></i>
                              <i class="fas fa-sort-up" *ngIf="sortColumn === 'contact' && sortDirection === 'asc'"></i>
                              <i class="fas fa-sort-down" *ngIf="sortColumn === 'contact' && sortDirection === 'desc'"></i>
                            </div>
                          </th>
                          <th scope="col">
                            <div class="cell-centered">N° appt</div>
                            <div class="sort-icons float-end" (click)="onSort('appartment_number')">
                              <i class="fas fa-sort" *ngIf="sortColumn !== 'appartment_number'"></i>
                              <i class="fas fa-sort-up" *ngIf="sortColumn === 'appartment_number' && sortDirection === 'asc'"></i>
                              <i class="fas fa-sort-down" *ngIf="sortColumn === 'appartment_number' && sortDirection === 'desc'"></i>
                            </div>
                          </th>
                          <th scope="col">
                            <div class="cell-centered">Adresse</div>
                            <div class="sort-icons float-end" (click)="onSort('address')">
                              <i class="fas fa-sort" *ngIf="sortColumn !== 'address'"></i>
                              <i class="fas fa-sort-up" *ngIf="sortColumn === 'address' && sortDirection === 'asc'"></i>
                              <i class="fas fa-sort-down" *ngIf="sortColumn === 'address' && sortDirection === 'desc'"></i>
                            </div>
                          </th>
                          <th scope="col">
                            <div class="cell-centered">Occupé</div>
                            <div class="sort-icons float-end" (click)="onSort('occupied')">
                              <i class="fas fa-sort" *ngIf="sortColumn !== 'occupied'"></i>
                              <i class="fas fa-sort-up" *ngIf="sortColumn === 'occupied' && sortDirection === 'asc'"></i>
                              <i class="fas fa-sort-down" *ngIf="sortColumn === 'occupied' && sortDirection === 'desc'"></i>
                            </div>
                          </th>
                          <th scope="col">
                            <div class="cell-centered">N° devis</div>
                            <div class="sort-icons float-end" (click)="onSort('quote_number')">
                              <i class="fas fa-sort" *ngIf="sortColumn !== 'quote_number'"></i>
                              <i class="fas fa-sort-up" *ngIf="sortColumn === 'quote_number' && sortDirection === 'asc'"></i>
                              <i class="fas fa-sort-down" *ngIf="sortColumn === 'quote_number' && sortDirection === 'desc'"></i>
                            </div>
                          </th>
                          <th scope="col">
                            <div class="cell-centered">Prestation</div>
                            <div class="sort-icons float-end" (click)="onSort('benefit')">
                              <i class="fas fa-sort" *ngIf="sortColumn !== 'benefit'"></i>
                              <i class="fas fa-sort-up" *ngIf="sortColumn === 'benefit' && sortDirection === 'asc'"></i>
                              <i class="fas fa-sort-down" *ngIf="sortColumn === 'benefit' && sortDirection === 'desc'"></i>
                            </div>
                          </th>
                          <th scope="col">
                            <div class="cell-centered">Date commande</div>
                            <div class="sort-icons float-end" (click)="onSort('date_cde')">
                              <i class="fas fa-sort" *ngIf="sortColumn !== 'date_cde'"></i>
                              <i class="fas fa-sort-up" *ngIf="sortColumn === 'date_cde' && sortDirection === 'asc'"></i>
                              <i class="fas fa-sort-down" *ngIf="sortColumn === 'date_cde' && sortDirection === 'desc'"></i>
                            </div>
                          </th>
                          <th scope="col">
                            <div class="cell-centered">Intervenant</div>
                            <div class="sort-icons float-end" (click)="onSort('external_contributor')">
                              <i class="fas fa-sort" *ngIf="sortColumn !== 'external_contributor'"></i>
                              <i class="fas fa-sort-up" *ngIf="sortColumn === 'external_contributor' && sortDirection === 'asc'"></i>
                              <i class="fas fa-sort-down" *ngIf="sortColumn === 'external_contributor' && sortDirection === 'desc'"></i>
                            </div>
                          </th>
                          <th scope="col">
                            <div class="cell-centered">N° de commande</div>
                            <div class="sort-icons float-end" (click)="onSort('internal_number')">
                              <i class="fas fa-sort" *ngIf="sortColumn !== 'internal_number'"></i>
                              <i class="fas fa-sort-up" *ngIf="sortColumn === 'internal_number' && sortDirection === 'asc'"></i>
                              <i class="fas fa-sort-down" *ngIf="sortColumn === 'internal_number' && sortDirection === 'desc'"></i>
                            </div>
                          </th>
                          <th scope="col">
                            <div class="cell-centered">Date fin client</div>
                            <div class="sort-icons float-end" (click)="onSort('end_date_customer')">
                              <i class="fas fa-sort" *ngIf="sortColumn !== 'end_date_customer'"></i>
                              <i class="fas fa-sort-up" *ngIf="sortColumn === 'end_date_customer' && sortDirection === 'asc'"></i>
                              <i class="fas fa-sort-down" *ngIf="sortColumn === 'end_date_customer' && sortDirection === 'desc'"></i>
                            </div>
                          </th>
                          <th scope="col"><div class="cell-centered">Obs</div><div class="sort-icons float-end">&nbsp;</div></th>
                          <th scope="col"><div class="cell-centered">Files</div><div class="sort-icons float-end">&nbsp;</div></th>
                          <th scope="col">
                            <div class="cell-centered">Statut</div>
                            <div class="sort-icons float-end" (click)="onSort('status')">
                              <i class="fas fa-sort" *ngIf="sortColumn !== 'status'"></i>
                              <i class="fas fa-sort-up" *ngIf="sortColumn === 'status' && sortDirection === 'asc'"></i>
                              <i class="fas fa-sort-down" *ngIf="sortColumn === 'status' && sortDirection === 'desc'"></i>
                            </div>
                          </th>
                        </tr>
                      </thead>
                      
                    <tbody class="tbody-scrollable">
                        <tr *ngFor="let order of ordersToDisplay; trackBy: trackByFn" (click)="selectOrder(order)">
                            <td class="cell-centered">
                                <div [ngbTooltip]="order?.internal_number">
                                    {{ order?.internal_number }}
                                </div>
                            </td>
                            <td class="cell-centered">
                                <div [ngbTooltip]="order?.contact?.firstname+' '+order?.contact?.lastname">
                                    {{ order?.contact?.firstname }}<br>
                                    {{ order?.contact?.lastname }}
                                </div>
                            </td>
                            <td class="cell-centered">
                                <div [ngbTooltip]="order?.appartment_number">
                                    {{ order?.appartment_number }}
                                </div>
                            </td>
                            <td class="cell-centered">
                                <div [ngbTooltip]="order?.address">
                                    {{ order?.address }}
                                </div>
                            </td>
                            <td class="cell-centered">
                                <div [ngbTooltip]="order?.occupied ? 'Occupé' : 'Pas occupé'">
                                    <!-- {{ order?.occupied ? 'OUI' : 'NON' }} -->
                                    <i class="fas active-icon" [ngClass]="{'fa-check-circle text-success': order?.occupied, 'fa-times-circle text-danger': !order?.occupied}"></i>
                                </div>
                            </td>
                            <td class="cell-centered">
                                <div [ngbTooltip]="order?.quote_number">
                                    {{ order?.quote_number }}
                                </div>
                            </td>
                            <td class="cell-centered">
                                <div [ngbTooltip]="order?.benefit">
                                    {{ order?.benefit }}
                                </div>
                            </td>
                            <td class="cell-centered">
                                <div [ngbTooltip]="order?.date_cde">
                                    {{ order?.date_cde | date: 'shortDate' }}
                                </div>
                            </td>
                            <td class="cell-centered">
                                <div [ngbTooltip]="order?.external_contributor?.firstname+' '+order?.external_contributor?.lastname">
                                    {{ order?.external_contributor?.firstname }}<br>
                                    {{ order?.external_contributor?.lastname }}
                                </div>
                            </td>
                            <td class="cell-centered">
                                <div [ngbTooltip]="order?.internal_number">
                                    {{ order?.internal_number }}
                                </div>
                            </td>
                            <td class="cell-centered">
                                <div [ngbTooltip]="order?.end_date_customer">
                                    {{ order?.end_date_customer | date: 'shortDate' }}
                                </div>
                            </td>
                            <td class="cell-centered"><i class="fas fa-comment active-icon" aria-hidden="true"></i> <span class="badge bg-info">{{ order?.observation?.length || 0 }}</span></td>
                            <td class="cell-centered"><i class="fas fa-file active-icon" aria-hidden="true"></i> <span class="badge bg-info">{{ order?.file?.length || order?.files?.length || 0 }}</span></td>
                            <td class="cell-centered">
                                <span 
                                [ngSwitch]="order?.status"
                                class="badge" 
                                [ngClass]="{
                                    'bg-success': order?.status === 'achieve',
                                    'bg-warning': order?.status === 'invoiced',
                                    'bg-danger': order?.status === 'anomaly',
                                    'bg-secondary': order?.status === 'in_progress',
                                    'bg-pink': order?.status === null,
                                    'bg-info': order?.status === 'canceled'
                                }">
                                <ng-container *ngSwitchCase="'achieve'">Réalisé</ng-container>
                                <ng-container *ngSwitchCase="'invoiced'">Facturé</ng-container>
                                <ng-container *ngSwitchCase="'anomaly'">Anomalie</ng-container>
                                <ng-container *ngSwitchCase="'in_progress'">En cours</ng-container>
                                <ng-container *ngSwitchCase="'canceled'">Annulé</ng-container>
                                <ng-container *ngSwitchDefault>Non attribué</ng-container>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-loading *ngIf="isLoading"></app-loading>
        </div>
    </div>
</div>
