.text-center {
  text-align: center;
}

th {
  border: 3px solid;
  border-color: white;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.highlight-column {
  background-color: #5664D2;
  color: white;
}

.highlight-head {
  background-color: #252B3B;
  color: white;
  font-weight: bold;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
}

.remove-tag-icon {
  cursor: pointer;
}


.search-container {
  position: relative;
}

.search-input {
  padding-right: 120px; /* Ajustez cette valeur en fonction de la largeur des tags */
}

.tags-in-search {
  position: absolute;
  right: 10px; /* Ajustez selon la marge désirée */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 5px;
}

.search-tag {
  cursor: pointer;
}

.remove-tag-icon {
  margin-left: 5px;
  cursor: pointer;
}

.available-tags .badge {
  cursor: pointer;
  margin-right: 5px;
}

.tbody-scrollable {
  max-height: 400px; /* Faire des ajustements */
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-responsive {
  overflow-x: auto; /* Permettre le défilement horizontal si nécessaire */
  overflow-y: auto;
}

/* Utiliser table-layout: fixed pour maintenir les largeurs synchronisées */
.table {
  table-layout: fixed;
  width: 100%; /* Assurer que la table utilise toute la largeur disponible */
}

/* Retirer la largeur fixe pour permettre l'ajustement automatique */
.table > thead > tr > th,
.table > tbody > tr > td {
  width: auto; /* Permettre à la table de gérer la largeur des colonnes */
  cursor: pointer;
}

table > tbody > tr > td {
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // affiche les mots sur des lignes différentes mais ne les coupe pas
  word-wrap: break-word;
}

table td {
  font-size: 12px;
}

table th {
  font-size: 13px;
}

.bg-pink {
  background-color: #ff69b4; /* Ceci est un exemple de couleur rose. */
  color: white; /* Pour une meilleure visibilité du texte. */
}

.cell-centered {
  text-align: center;
  vertical-align: middle;
}

.active-icon {
  font-size: 25px;
}

/* Pour les icônes de tri */
.sort-icons {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}
