  <div class="home-btn d-none d-sm-block">
    <a routerLink=""><i class="mdi mdi-home-variant h2 text-white"></i></a>
  </div>
  
  <div>
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-lg-4">
          <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
            <div class="w-100">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <div>
                    <div class="text-center">
                      <div>
                        <a routerLink="" class="logo"><img src="assets/images/sogapeint-logo.png" height="80" alt="logo"></a>
                      </div>
                      
                      <h4 class="font-size-18 mt-4">Réinitialiser mot de passe</h4>
                      <p class="text-muted" *ngIf="phase === 'request'">Réinitialiser votre mot de passe pour Sogapeint</p>
                      <p class="text-muted" *ngIf="phase === 'verify'">Entrez le code de vérification qui vous a été envoyé par mail</p>
                      <p class="text-muted" *ngIf="phase === 'reset'">Définissez votre nouveau mot de passe</p>
                    </div>
                    
                    <div class="p-2 mt-5">
                      <form class="form-horizontal" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                        <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                        
                        <!-- Email input field -->
                        <div *ngIf="phase === 'request'" class="form-group auth-form-group-custom mb-4">
                          <i class="ri-mail-line auti-custom-input-icon"></i>
                          <label for="useremail">Email</label>
                          <input 
                          type="email" 
                          formControlName="email" 
                          class="form-control" 
                          id="useremail" 
                          placeholder="Entrez votre email"
                          required
                          >
                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">L'email est requis.</div>
                            <div *ngIf="f.email.errors.email">L'email n'est pas valide.</div>
                          </div>
                        </div>
                        
                        <!-- Code verification input field -->
                        <div *ngIf="phase === 'verify'" class="form-group auth-form-group-custom mb-4">
                          <i class="ri-shield-keyhole-line auti-custom-input-icon"></i>
                          <label for="verificationCode">Code de vérification</label>
                          <input 
                          type="text" 
                          formControlName="verificationCode" 
                          class="form-control" 
                          id="verificationCode" 
                          placeholder="Entrez le code de vérification"
                          required
                          >
                        </div>

                      <!-- Nouveau mot de passe -->
                      <div *ngIf="phase === 'reset'" class="form-group mb-4 position-relative">
                        <label for="newPassword" class="form-label">Nouveau mot de passe</label>
                        <div class="input-group" [ngClass]="{'is-invalid': !passwordsMatch && submitted}">
                          <input 
                            type="password" 
                            formControlName="newPassword" 
                            class="form-control" 
                            id="newPassword" 
                            placeholder="Entrez le nouveau mot de passe" 
                            (input)="checkPasswordStrength(resetForm.get('newPassword').value)" 
                            [ngClass]="{'is-valid': passwordsMatch && resetForm.get('newPassword').value, 'is-invalid': !passwordsMatch && resetForm.get('newPassword').touched}" 
                            required
                          >
                          <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                            <i [class]="hidePassword ? 'fas fa-eye-slash' : 'fas fa-eye'" aria-hidden="true"></i>
                          </button>
                          <button class="btn btn-outline-secondary" type="button" (click)="suggestPassword()" ngbTooltip="Cliquez pour générer automatiquement un mot de passe fort">
                            <i class="fas fa-lightbulb"></i>
                          </button>
                        </div>
                        <div class="progress mt-2" *ngIf="passwordStrength !== undefined">
                          <div class="progress-bar" role="progressbar" [style.width]="(passwordStrength?.score + 1) * 25 + '%'" [ngClass]="{
                            'bg-success': passwordStrength?.score === 4,
                            'bg-info': passwordStrength?.score === 3,
                            'bg-warning': passwordStrength?.score === 2,
                            'bg-danger': passwordStrength?.score < 2
                          }"></div>
                        </div>
                        <div *ngIf="passwordStrength && passwordStrength.feedback" class="password-feedback">
                          {{ passwordStrength.feedback.suggestions.join(', ') }}
                        </div>
                      </div>
                      
                      <!-- Confirmation du nouveau mot de passe -->
                      <div *ngIf="phase === 'reset'" class="form-group mb-4 position-relative">
                        <label for="confirmPassword" class="form-label">Confirmez le mot de passe</label>
                        <div class="input-group" [ngClass]="{'is-invalid': !passwordsMatch && submitted}">
                          <input 
                            type="password" 
                            formControlName="confirmPassword" 
                            class="form-control" 
                            id="confirmPassword" 
                            placeholder="Confirmez le nouveau mot de passe"
                            [ngClass]="{'is-valid': passwordsMatch && resetForm.get('confirmPassword').value, 'is-invalid': !passwordsMatch && resetForm.get('confirmPassword').touched}" 
                            required
                          >
                          <button class="btn btn-outline-secondary" type="button" (click)="toggleConfirmPasswordVisibility()">
                            <i [class]="hideConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div *ngIf="!passwordsMatch && submitted" class="invalid-feedback">
                          Les mots de passe ne correspondent pas.
                        </div>
                      </div>
                      
                      
                      
                      
                      
                      
                      <!-- Submit button -->
                      <div class="mt-4 text-center">
                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Réinitialiser</button>
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="authentication-bg">
          <div class="bg-overlay"></div>
        </div>
      </div>
    </div>
  </div>
</div>
