<div class="container-fluid">
    <app-pagetitle title="Contact" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="container mt-4">
        
        <!-- <div class="alert alert-danger" role="alert">
            <strong>Attention !</strong> Ce composant est encore en construction. Portez un casque de sécurité !
        </div> -->
        <!-- Messages (erreur/succès)-->
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">
            {{ successMessage }}
          </ngb-alert>
          <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = ''">
            {{ errorMessage }}
          </ngb-alert>

        <div class="card">
            <div class="card-header">
                <div class="row"  *ngIf="isAdminOrSuperAdmin()">
                    <div class="text-end">
                        <button class="btn btn-primary ms-2" (click)="enableEditMode()" *ngIf="!editMode">Editer</button>
                        <button class="btn btn-danger ms-2" (click)="disableEditMode()" *ngIf="editMode">Annuler</button>
                    </div>
                </div>
                <div class="row">
                    <h5 class="card-title mb-0" *ngIf="!editMode">
                        {{ user?.firstName }} {{ user?.lastName }}
                        <small class="text-muted role-badge" [ngClass]="getRoleClass(user?.role)">{{ user?.role }}</small>
                    </h5>
                    <div *ngIf="editMode">
                        <form [formGroup]="userForm">
                            <div class="form-group position-relative">
                                <label for="firstName">Prénom</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="firstName" formControlName="firstName" (blur)="resetDirty('firstName')">
                                    <div class="input-group-append" *ngIf="userForm.controls['firstName'].dirty">
                                        <span class="input-group-text" style="cursor: pointer;" (click)="resetField('firstName')">
                                            <i class="fas fa-undo" title="Réinitialiser le prénom"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group position-relative">
                                <label for="lastName">Nom</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="lastName" formControlName="lastName" (blur)="resetDirty('lastName')">
                                    <div class="input-group-append" *ngIf="userForm.controls['lastName'].dirty">
                                        <span class="input-group-text" style="cursor: pointer;" (click)="resetField('lastName')">
                                            <i class="fas fa-undo" title="Réinitialiser le nom"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="role">Rôle</label>
                                <select class="form-control" id="role" formControlName="role" (blur)="resetDirty('role')">
                                    <option value="superAdmin">superAdmin</option>
                                    <option value="cocontractor">cocontractor</option>
                                    <option value="subcontractor">subcontractor</option>
                                    <option value="comanager">comanager</option>
                                    <option value="supermanager">supermanager</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <strong>Email</strong>
                            <!-- Champ éditable si en mode édition -->
                            <div *ngIf="editMode">
                                <form [formGroup]="userForm">
                                    <div class="form-group position-relative">
                                        <div class="input-group">
                                            <input type="email" class="form-control" formControlName="email" placeholder="Email" (blur)="resetDirty('email')">
                                            <div class="input-group-append" *ngIf="userForm.controls['email'].dirty">
                                                <span class="input-group-text" style="cursor: pointer;" (click)="resetField('email')">
                                                    <i class="fas fa-undo" title="Réinitialiser l'email"></i>
                                                </span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
                            <!-- Affichage en mode lecture seul -->
                            <p class="text-muted" *ngIf="!editMode && user?.email">
                                <a href="mailto:{{ user.email }}">{{ user?.email }}</a>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <strong>Entreprise</strong>
                            <!-- Champ éditable si en mode édition -->
                            <div *ngIf="editMode">
                                <form [formGroup]="userForm">
                                    <div class="form-group position-relative">
                                        <div class="input-group">
                                            <div class="col">
                                                <ng-select id="company" 
                                                formControlName="company" 
                                                [items]="companies" 
                                                bindLabel="name" 
                                                bindValue="id" 
                                                placeholder="Sélectionner une entreprise"
                                                [typeahead]="companyInput$"
                                                [virtualScroll]="true" 
                                                [addTag]="true"
                                                (blur)="onCompanyInputBlur($event); resetDirty('company')">
                                            </ng-select>
                                        </div>
                                        <div class="col-auto">
                                            <div class="input-group-append" *ngIf="userForm.controls['company'].dirty">
                                                <span class="input-group-text" style="cursor: pointer;" (click)="resetField('company')">
                                                    <i class="fas fa-undo" title="Réinitialiser l'entreprise"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Affichage en mode lecture seule -->
                        <p class="text-muted" *ngIf="!editMode && user?.company">{{ user?.company }}</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <strong>Numéro de téléphone</strong>
                        <!-- Champ éditable si en mode édition -->
                        <div *ngIf="editMode">
                            <form [formGroup]="userForm">
                                <div class="form-group position-relative">
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="phone" placeholder="Numéro de téléphone" (blur)="resetDirty('phone')">
                                        <div class="input-group-append" *ngIf="userForm.controls['phone'].dirty">
                                            <span class="input-group-text" style="cursor: pointer;" (click)="resetField('phone')">
                                                <i class="fas fa-undo" title="Réinitialiser le numéro de téléphone"></i>
                                            </span>
                                        </div>                                          
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Affichage en mode lecture seule -->
                        <p class="text-muted" *ngIf="!editMode && user?.phone">{{ user?.phone }}</p>
                    </div>
                    <div class="col-sm-6">
                        <strong>Adresse</strong>
                        <!-- Champ éditable si en mode édition -->
                        <div *ngIf="editMode">
                            <form [formGroup]="userForm">
                                <div class="form-group position-relative">
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="address" placeholder="Adresse" (blur)="resetDirty('address')">
                                        <div class="input-group-append" *ngIf="userForm.controls['address'].dirty">
                                            <span class="input-group-text" style="cursor: pointer;" (click)="resetField('address')">
                                                <i class="fas fa-undo" title="Réinitialiser l'adresse"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Affichage en mode lecture seule -->
                        <p class="text-muted" *ngIf="!editMode && user?.address; else notProvided">{{ user?.address}}</p>
                        <ng-template #notProvided><p class="text-muted">Non renseigné</p></ng-template>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Autorisé à se connecter</strong>
                        <!-- Champ éditable si en mode édition -->
                        <div *ngIf="editMode">
                            <form [formGroup]="userForm">
                                <div class="form-group position-relative">
                                    <div class="input-group">
                                        <div class="d-block">
                                            <ui-switch 
                                            id="authorized-connection-switch" 
                                            formControlName="authorized_connection" 
                                            [checkedLabel]="'Oui'" 
                                            [uncheckedLabel]="'Non'" 
                                            size="small"  
                                            ariaLabel="Autorisé à se connecter" 
                                            (blur)="resetDirty('authorized_connection')"
                                            ></ui-switch>
                                        </div>
                                        <div class="input-group-append" *ngIf="userForm.controls['authorized_connection'].dirty">
                                            <span class="input-group-text" style="cursor: pointer;" (click)="resetField('authorized_connection')">
                                                <i class="fas fa-undo" title="Réinitialiser l'autorisation de connexion"></i>
                                            </span>
                                        </div>                                          
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Affichage en mode lecture seule -->
                        <p class="text-muted" *ngIf="!editMode && user?.authorized_connection">{{ user?.authorized_connection ? 'Oui' : 'Non' }}</p>
                    </div>
                    <div class="col-sm-6">
                        <strong>Statut</strong>
                        <!-- Champ éditable si en mode édition -->
                        <div *ngIf="editMode">
                            <form [formGroup]="userForm">
                                <div class="form-group position-relative">
                                    <div class="input-group">
                                        <div class="d-block">
                                            <ui-switch 
                                            id="status-switch" 
                                            formControlName="status" 
                                            [checkedLabel]="'Actif'" 
                                            [uncheckedLabel]="'Inactif'" 
                                            size="small"  
                                            ariaLabel="Statut"
                                            (blur)="resetDirty('status')"
                                            ></ui-switch>
                                        </div>
                                    </div>
                                    <div class="input-group-append" *ngIf="userForm.controls['status'].dirty">
                                        <span class="input-group-text" style="cursor: pointer;" (click)="resetField('status')">
                                            <i class="fas fa-undo" title="Réinitialiser le statut"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Affichage en mode lecture seule -->
                        <p class="text-muted" *ngIf="!editMode && user?.active">{{ user?.active ? 'Actif' : 'Inactif' }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end" *ngIf="editMode">
                <button class="btn btn-danger ms-2" ngbTooltip="Les données de l'utilisateur seront conservées, mais nous mandaterons un tueur à gage" (click)="openDeleteConfirmationModal(deleteModal)">Supprimer l'utilisateur</button>
                <button class="btn btn-outline-secondary ms-2" (click)="openResetPasswordModal(resetPasswordModal)">Réinitialiser le mot de passe</button>
                <button class="btn btn-primary ms-2" (click)="openConfirmationModalForModification(content)" *ngIf="!userForm.pristine">Valider la modification</button>
            </div>
        </div>
    </div>
</div>

<!-- Template pour le Modal de Confirmation -->
<ng-template #confirmationModalForModification #content let-modal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr [ngClass]="{'modified-field': userForm.controls['firstName'].dirty}">
                                <th scope="row">Prénom</th>
                                <td>{{ userForm.value.firstName }}</td>
                            </tr>
                            <tr [ngClass]="{'modified-field': userForm.controls['lastName'].dirty}">
                                <th scope="row">Nom</th>
                                <td>{{ userForm.value.lastName }}</td>
                            </tr>
                            <tr [ngClass]="{'modified-field': userForm.controls['email'].dirty}">
                                <th scope="row">Email</th>
                                <td>{{ userForm.value.email }}</td>
                            </tr>
                            <tr [ngClass]="{'modified-field': userForm.controls['phone'].dirty}">
                                <th scope="row">Numéro de téléphone</th>
                                <td>{{ userForm.value.phone }}</td>
                            </tr>
                            <tr [ngClass]="{'modified-field': userForm.controls['address'].dirty}">
                                <th scope="row">Adresse</th>
                                <td>{{ userForm.value.address }}</td>
                            </tr>
                            <tr [ngClass]="{'modified-field': userForm.controls['company'].dirty}">
                                <th scope="row">Entreprise</th>
                                <td>{{ userForm.value.company }}</td>
                            </tr>
                            <tr [ngClass]="{'modified-field': userForm.controls['role'].dirty}">
                                <th scope="row">Rôle</th>
                                <td>{{ userForm.value.role }}</td>
                            </tr>
                            <tr [ngClass]="{'modified-field': userForm.controls['status'].dirty}">
                                <th scope="row">Statut</th>
                                <td>{{ userForm.value.status ? 'Actif' : 'Inactif' }}</td>
                            </tr>
                            <tr [ngClass]="{'modified-field': userForm.controls['authorized_connection'].dirty}">
                                <th scope="row">Autorisé à se connecter</th>
                                <td>{{ userForm.value.authorized_connection ? 'Oui' : 'Non' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Annuler</button>
                <button type="button" class="btn btn-primary" (click)="validateUserModification();modal.close()">Confirmer</button>
            </div>
        </div>
    </div>
</ng-template>

<!-- Template pour le Modal de Suppression -->
<ng-template #deleteModal let-modal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation de Suppression</h5>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer l'utilisateur <strong>{{ user?.firstName }} {{ user?.lastName }}</strong> ?</p>
                <p class="text-muted">Pour confirmer, veuillez saisir le nom complet de l'utilisateur ci-dessous :</p>
                <input 
                    type="text" 
                    class="form-control" 
                    [(ngModel)]="confirmationInput" 
                    placeholder="Prénom Nom" 
                    [class.is-invalid]="!isTextMatching()"
                >
                <p class="text-muted">Cette action est irréversible.</p>
            </div>
            <div class="modal-footer">
                <button 
                    type="button" 
                    class="btn btn-secondary" 
                    (click)="modal.close('Close click')"
                >Annuler</button>
                <button 
                    type="button" 
                    class="btn btn-danger" 
                    (click)="confirmDeletion();modal.close()" 
                    ngbTooltip="Un petit clic pour une grande conséquence..." 
                    *ngIf="isTextMatching()"
                >Confirmer la Suppression</button>
            </div>
        </div>
    </div>
</ng-template>

<!-- Template pour le Modal de Réinitialisation du mot de passe -->
<ng-template #resetPasswordModal let-modal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation de Réinitialisation du Mot de Passe</h5>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir réinitialiser le mot de passe de cet utilisateur ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="resetPassword()">Confirmer la Réinitialisation</button>
            </div>
        </div>
    </div>
</ng-template>
