


<div class="container mt-5">
    <h1>Foire aux questions</h1>
    <div id="accordion">

      <div class="card">
        <div class="card-header" id="headingSeven">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Quand est-ce qu'une vraie FAQ sera disponible ?
            </button>
          </h2>
        </div>
        <div id="collapseSeven"  aria-labelledby="headingSeven">
          <div class="card-body">
            Prochainement.
          </div>
        </div>
      </div>

        <div class="card">
            <div class="card-header" id="headingSeven">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Comment faire pour ajouter un nouveau contact ?
                </button>
              </h2>
            </div>
            <div id="collapseSeven"  aria-labelledby="headingSeven">
              <div class="card-body">
                Pour ajouter un nouveau contact, cliquez sur le bouton "Ajouter un contact" dans le menu de gauche. Vous pouvez ensuite saisir les informations du contact dans le formulaire. N'oubliez pas de cliquer sur "Enregistrer" lorsque vous avez terminé !
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSeven">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Comment faire pour rechercher un contact ?
                </button>
              </h2>
            </div>
            <div id="collapseSeven"  aria-labelledby="headingSeven">
              <div class="card-body">
                Utilisez des jumelles.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSeven">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Comment faire pour supprimer un contact ?
                </button>
              </h2>
            </div>
            <div id="collapseSeven"  aria-labelledby="headingSeven">
              <div class="card-body">
                Contactez l'agent 47.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSeven">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Tout nombre pair supérieur à 2 est-il la somme de deux nombres premiers ?
                </button>
              </h2>
            </div>
            <div id="collapseSeven"  aria-labelledby="headingSeven">
              <div class="card-body">
                Ceci n'a encore jamais été prouvé, mais nous y travaillons.
              </div>
            </div>
          </div>

<div class="card">
    <div class="card-header" id="headingSeven">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Le CRM est-il capable de choisir automatiquement les couleurs de peinture pour mes projets en fonction de mon humeur ?
        </button>
      </h2>
    </div>
    <div id="collapseSeven"  aria-labelledby="headingSeven">
      <div class="card-body">
        Absolument ! Notre CRM avancé intègre une IA qui analyse votre humeur via votre historique de navigation, vos emails, vos expressions faciales, votre rythme cardiaque et le taux de midichloriens dans votre sang, sélectionnant ainsi les nuances de peinture qui correspondent le mieux à votre état émotionnel actuel. Parfait pour ces jours où vous vous sentez "bleu outremer" ou "rouge vermillon".
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingEight">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Est-ce que le CRM peut utiliser la réalité augmentée pour montrer à quoi ressembleraient les travaux de peinture avant qu'ils ne soient réalisés ?
        </button>
      </h2>
    </div>
    <div id="collapseEight"  aria-labelledby="headingEight">
      <div class="card-body">
        Oui, notre CRM futuriste inclut une fonctionnalité de réalité augmentée qui vous permet de visualiser virtuellement les travaux de peinture sur vos murs avant même de commencer, mais vous pouvez uniquement voir le rendu en l'absence totale de lumière. Pour accéder à cette fonctionnalité, appuyez longuement sur le bouton "power" de votre ordinateur.
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingNine">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Le CRM peut-il orchestrer une symphonie de couleurs pour mes projets de peinture extérieure ?
        </button>
        </h2>
        
          </div>
          <div id="collapseNine"  aria-labelledby="headingNine">
            <div class="card-body">
              Oui, notre CRM révolutionnaire intègre une fonctionnalité 'Symphonie de Couleurs' qui, grâce à une IA avancée, crée des harmonies de couleurs personnalisées pour vos projets de peinture extérieure. Il prend en compte les tendances de la mode, la météo locale, et même le feng shui pour garantir une esthétique parfaite.
            </div>
          </div>
        </div>
  
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Le CRM peut-il prédire l'avenir ?
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                <div class="card-body">
                    Bien sûr que non, mais il prétend parfois le faire lors des réunions du lundi matin. En réalité, il se base sur des données et des analyses pour faire des prédictions commerciales, mais il ne remplacera pas votre horoscope.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Est-ce que le CRM peut automatiser mes rendez-vous chez le coiffeur ?
                    </button>
                </h2>
            </div>
            <div id="collapseTwo"  aria-labelledby="headingTwo">
                <div class="card-body">
                    Malheureusement non, le CRM ne gère pas les rendez-vous personnels. Cependant, il peut envoyer des rappels automatiques pour vos réunions d'affaires, ce qui est presque aussi important que de ne pas rater votre coupe de cheveux.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Le CRM peut-il organiser ma fête d'anniversaire ?
                    </button>
                </h2>
            </div>
            <div id="collapseThree"  aria-labelledby="headingThree">
                <div class="card-body">
                    Tandis que le CRM est doué pour
                    
                    gérer les relations client et les données de vente, il ne s'occupe pas des célébrations personnelles. Cependant, si vous entrez la date de votre anniversaire dans le CRM, il pourrait vous envoyer un email automatique pour vous le rappeler. Malheureusement, cette fonctionnalité ne sera disponnible que le 31 février. Et pour les ballons et les gâteaux, vous devrez probablement vous en occuper vous-même.
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Le CRM peut-il m'aider à gérer ma collection de timbres ?
                    </button>
                </h2>
            </div>
            <div id="collapseFour"  aria-labelledby="headingFour">
                <div class="card-body">
                    Bien que le CRM soit doué pour gérer les données, il n'est pas encore prêt pour trier et classer votre précieuse collection de timbres. Cependant, il peut suivre vos interactions avec d'autres philatélistes!
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        Le CRM est-il capable de préparer le café ?
                    </button>
                </h2>
                
            </div>
            <div id="collapseFive"  aria-labelledby="headingFive">
                <div class="card-body">
                    Malheureusement, non. Même si le CRM est très utile, il ne peut pas encore remplacer votre machine à café. Mais il peut vous rappeler de prendre une pause café après votre cinquième réunion Zoom de la journée !
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        Est-ce que le CRM peut choisir ma tenue du jour ?
                    </button>
                </h2>
            </div>
            <div id="collapseSix"  aria-labelledby="headingSix">
                <div class="card-body">
                    Non, le CRM ne peut pas choisir vos vêtements. Mais il peut vous aider à organiser votre emploi du temps, ce qui pourrait vous laisser plus de temps pour réfléchir à votre style du jour.
                </div>
            </div>
        </div>
    </div>
    
</div>
