<div class="container-fluid">
  <app-pagetitle title="Contacts" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  <div class="container mt-4">
    


<div class="alert alert-danger" role="alert">
            <strong>Attention !</strong> Ce composant est encore en construction. Portez un casque de sécurité !
        </div>



<!-- affiche la liste des entreprises -->
<ul>
    <li *ngFor="let companyGroup of groupedCompanies | keyvalue" [style.background-color]="generateColorForCompany(companyGroup.key)" [style.color]="getOppositeColor(companyGroup.key)">
      <ul>
        <li *ngFor="let company of companyGroup.value">
          {{ company }}
        </li>
      </ul>
    </li>
  </ul>

  </div>
</div>
